header {
  background: url("/images/pattern-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  padding: 2em 1em;

  height: 45vh;

  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 1.5em;
}

h1 {
  font-size: var(--main-heading-size);
  font-weight: var(--main-heading-weight);
  color: var(--white-color);
}
