header {
  background: url("/images/pattern-bg-mobile.webp");
  background-repeat: no-repeat;
  background-size: cover;

  transition: 2s;

  padding: 2em 1em;

  height: 45vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  gap: 1.5em;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  header {
    background: url("/images/pattern-bg-desktop.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

h1 {
  font-size: var(--main-heading-size);
  font-weight: var(--main-heading-weight);
  color: var(--white-color);
}
