.information-card {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 48px);
  max-width: 1100px;

  transition: 2s;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1em 0;
  padding: 1em;

  background: var(--white-color);
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  .information-card {
    top: 35%;

    grid-template-columns: repeat(4, 1fr);
    gap: 0 1em;

    padding: 2em;
  }
}

h6 {
  font-size: var(--information-label-size);
  font-weight: var(--information-weight);
  letter-spacing: var(--information-letter-spacing);
  color: var(--information-label-color);
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: var(--information-values-size);
  font-weight: var(--information-weight);
  color: var(--information-values-color);
  text-align: center;
}
