.information-card {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 48px);
  max-width: 1100px;

  transition: 2s;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1em 0;
  padding: 1em;

  background: var(--white-color);
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.information-card div {
  text-align: center;
}

@media (min-width: 1000px) {
  .information-card {
    top: 35%;

    grid-template-columns: repeat(4, 1fr);

    padding: 1em;
  }

  .information-card div {
    padding: 1em;
    text-align: left;
  }

  .information-card div:nth-child(2),
  .information-card div:nth-child(3),
  .information-card div:nth-child(4) {
    border-left: 2px solid var(--border-color);
  }
}

h6 {
  font-size: var(--information-label-size);
  font-weight: var(--information-weight);
  letter-spacing: var(--information-letter-spacing);
  color: var(--information-label-color);
  text-transform: uppercase;
  margin-bottom: 1em;
}

p {
  font-size: var(--information-values-size);
  font-weight: var(--information-weight);
  color: var(--information-values-color);
}
