form {
  height: 3.625em;
  max-width: 425px;
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border: none;

  width: 80%;
  background: var(--white-color);

  padding-left: 1.5em;
}

button {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: none;

  width: 20%;
  background: var(--black-color);
}

i {
  color: var(--white-color);
}

input[type="text"] {
  font-size: var(--ip-input-size);
  font-weight: var(--ip-input-weight);
  color: var(--ip-input-color);
}
