:root {
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 10%);
  
  --border-color: hsl(0, 0%, 78%);

  --black-btn:hsl(0, 0%, 10%);
  --hover-btn: hsl(0, 0%, 17%);
  
  /* ========================================================================== */
  /* Typography hierarchy */
  --font-family: "Rubik", sans-serif;

  /* Main Heading */
  --main-heading-size: clamp(1.5rem, 5vw, 2rem);
  --main-heading-weight: 700;

  /* IP Inputs */
  --ip-input-size: 1.125rem;
  --ip-input-weight: 400;
  --ip-input-color: hsl(0, 0%, 17%);

  /* Information Labels */
  --information-label-size: 0.625rem;
  --information-weight: 700;
  --information-letter-spacing: 0.125em;
  --information-label-color: hsl(0, 0%, 58%);

  /* Information Values */
  --information-values-size: 1.25rem;
  --information-values-color: hsl(0, 0%, 17%);
}
