:root {
  --gray-950: hsl(0, 0%, 17%);
  --gray-400: hsl(0, 0%, 58%);

  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 10%);

  /* Typography hierarchy */
  --font-family: "Rubik", sans-serif;

  /* Main Heading */
  --main-heading-size: clamp(1.5rem, 5vw, 2rem);
  --main-heading-weight: 700;
}


