:root {
  --gray-950: hsl(0, 0%, 17%);
  --gray-400: hsl(0, 0%, 58%);

  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 10%);

  --font-family: "Rubik", sans-serif;

  --text-input: 1.125rem;
}

h1 {
  font-size: var(--text-input);
}
