header{
    background: url('/images/pattern-bg-mobile.png');
    color: var(--white-color);
    padding: 2em 1em;

    height: 30vh;

    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 1.5em;
}